<div class="max-w-7xl mx-auto px-10">
    <nav class="border-b border-coolgray-100 dark:border-gray-800">
        <div class="flex items-center justify-between h-20">
            <div class="flex items-center space-x-2">
                <div class="mt-0.5 w-5 h-5 rounded-full bg-gradient-to-br from-cyan-400 to-lime-400"></div>
                <%= link_to "sample", root_path, class: "text-2xl font-bold tracking-tighter text-coolgray-900 dark:text-white" %>
            </div>
            <div class="flex items-center">
                <% if logged_in? %>
                    <%= link_to "Users", users_path, class: "nav-link" %>
                    <!-- Dropdown -->
                    <div x-data="{ open: false }" class="relative -mr-3">
                        <button x-on:click="open = true" class="flex items-center focus:outline-none max-w-full nav-link">
                            <%= gravatar_for(current_user, { size: 200, class: "rounded-full w-8 mr-3" }) %>
                            <%= current_user.name %>
                        </button>
                        <!-- Dropdown Body -->
                        <div x-show="open" x-on:click.away="open = false" 
                             x-transition:enter="transition ease-out duration-150" 
                             x-transition:enter-start="transform opacity-0 scale-95 -translate-y-2" 
                             x-transition:enter-end="transform opacity-100 scale-100" 
                             x-transition:leave="transition ease-in duration-75" 
                             x-transition:leave-start="transform opacity-100 scale-100" 
                             x-transition:leave-end="transform opacity-0 scale-95" 
                             class="origin-top absolute left-11 w-36 mt-2 rounded-md shadow-xl bg-white dark:bg-gray-800">   

                            <%= link_to "Profile", current_user, class: "transition block px-3 py-2 rounded-t-md text-sm font-medium text-coolgray-500 hover:bg-coolgray-100 hover:text-coolgray-900 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 hover:bg-opacity-30" %>

                            <%= link_to "Settings", edit_user_path(current_user), class: "transition block px-3 py-2 text-sm font-medium text-coolgray-500 hover:bg-coolgray-100 hover:text-coolgray-900 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 hover:bg-opacity-30" %>

                            <%= link_to "Log out", logout_path, method: :delete, class: "transition block px-3 py-2 rounded-b-md border-t border-coolgray-200 dark:border-gray-700 border-opacity-50 text-sm font-medium text-coolgray-500 hover:bg-coolgray-100 hover:text-coolgray-900 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 hover:bg-opacity-30" %>
                        </div>
                        <!-- // Dropdown Body -->
                    </div>
                    <!-- // Dropdown -->
                <% else %>
                    <%= link_to "Log In", login_path, class: "nav-link ml-3 rounded-lg bg-coolgray-100 hover:bg-coolgray-200 dark:bg-gray-800 dark:hover:bg-gray-700" %>
                <% end %>                
            </div>
        </div>
    </nav>
</div>